<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>

<h1>Dashboard</h1>

<div class="row">

    <div class="col-lg-12">

      <ul class="list-group">
        <% @tasks.each do |task| %>
          <li class="list-group-item">
            <span class="badge red"><%= link_to "X", task.destroy %></span>
            <span class="badge red"><i>play</i></span>
            <span class="badge"><i><%= task.total_time %></i></span>
            <span class="badge "><%= task.start_count %></span>
            <%= task.name %>
          </li>
        <% end %>

      </ul>

    </div>

  </div>
