<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<%= render "tasks/form" %>
<%= render "projects/form" %>

<h1>Dashboard</h1>

<div class="row">

    <div class="col-lg-12">

      <ul class="list-group" id="tasks-box">
        <% @tasks.each do |task| %>
          <li class="list-group-item">
            <span class="badge red"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <span class="badge red"><i>play</i></span>
            <span class="badge"><i><%= task.total_time %></i></span>
            <span class="badge "><%= task.start_count %></span>
            <%= task.name %>
          </li>
        <% end %>

      </ul>

    </div>

  </div>
