<%= form_for(@task, remote: true, html: { id: "task-form", :"data-type" => "json" }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_count %><br>
    <%= f.number_field :start_count %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :total_time %><br>
    <%= f.number_field :total_time %>
  </div>

  <div class="field">
    <%= f.select(:project_id) do%>
      <% if @projects.any? %>
        <% @projects.each do |project| %>
        <%= content_tag(:option, project.name, value: project.id) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
