<%= form_for(@task, remote: true, html: { id: "task-form", :"data-type" => "json" }) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="form-group">
        <div class="field">
          <%= f.text_field :name, {placeholder: "Task name", value: "", class: "form-control"} %>
          <p class="pull-right pointer-cursor" id="show-task-complements">Show more</p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-sm-2"></div>
  </div>

  <!-- hidden div for complete task information -->
  <div id="task-complements" class="hidden">
    <%= f.number_field :total_time, class: "form-control hidden" %>
    <div class="row">
      <div class="col-lg-3 col-sm-4">
        <div class="form-group">
          <label for="">Projects</label>
          <%=f.select :project_id, options_from_collection_for_select(@projects, 'id', 'name'),{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="form-group">
          <label for="" style="color:#fff;">.</label>
          <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New project</a>
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="form-group">
          <label for="">Hours</label>
          <input type="number" value="00" class="form-control manual-time" id="hh" min="00" max="59">
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="form-group">
          <label for="">Minutes</label>
          <input type="number" value="00" class="form-control manual-time" id="mm" min="00" max="59">
        </div>
      </div>
      <div class="col-lg-2 col-sm-2">
        <div class="form-group">
          <label for="">Seconds</label>
          <input type="number" value="00" class="form-control manual-time" id="ss" min="00" max="59">
        </div>
      </div>
    </div>
    <br>
  </div>


  <div class="row">
    <div class="col-lg-4 col-sm-4 col-lg-offset-4 col-sm-offset-4">
      <div class="form-group">
        <div class="actions">
          <%= f.submit "Play", id: "start-new-task", class: "btn btn-success form-control" %>
          <a id="stop-current-task" class="btn btn-danger form-control hidden" hidden>Stop</a>
        </div>
      </div>
    </div>
  </div>

<% end %>
